body{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 100vh;
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
}
#wrapper{
    width: 500px;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0)

}
.img{
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;

}
.mmb{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.inp{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    background-color: #fff;

}
button{

    width: 150px;
    justify-content: center;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;

   
}
input{
    width: 80%;
}
 /* Câu 2a 
@media only screen and (max-width: 600px) {
    .inp{
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    .sign-up-button {
      display: none;
    }
    .sign-in-button {
      display: block;
    }
  }
  
  /* Câu 2b
  @media only screen and (min-width: 768px) {
    .sign-up-button {
      display: block;
    }
  }
  
  /* Câu 2c 
  @media only screen and (min-width: 700px) {
    .inp:hover,.sign-in-button:hover {
      background-color: lightgray;
      transition: background-color 0.3s;
    }
  }
  
  /* Câu 2d 
  
  
  @media only screen and (min-width: 768px) {
    .mmb {
      display: flex;
      flex-direction: row;
    }
  } */
   